@import "../../vars.css";

.header{
     height: 566px;
     width: 100%;
     background-color:var(--color-btnlight);
   
     background-repeat: no-repeat;
     background-size: cover;

opacity: 0px;

}
.header img{
   width:inherit;
   height:inherit;
}
.welcomeText{
  position:relative;
     display: block;
     gap:30px;
    color: white;
    padding:20px;
    padding-top: 150px;

    font-size: 30px;
    font-weight: 700;
}

.welcomeText .qouteBtn{
  position:relative;
    margin-top:55px ;
    border:none;
    outline: none;
    width:302px;
    color: var(--color-text);
    padding: 25px;
    font-size: 24px;
    font-weight: 900;
    background-color: var(--color-btn);
    border-radius:4px;
    cursor: pointer;
    transition: 1s;
}
.welcomeText .qouteBtn:hover{
 
  background-color: #ffffff;
  color:black;
  transform: translateX(10%);
  
}
.welcomeText h1{
 
font-size: 40px;
font-weight: 800;
line-height: 72px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
@media screen and (max-width: 830px) {
   
      .welcomeText h1{
            font-size: 20px;
      }
      .header{
        min-height: fit-content;
        min-width: 100%;
      }  
      .welcomeText{
         text-align: center;
           padding:20px;
           padding-top: 20px;
           font-size: 20px;
           font-weight: 500;
           align-items: center;

      }
      .welcomeText .qouteBtn{
        margin-top:55px ;
        padding: 10px;
        width:200px;
        font-size: 15px;
    }
    .welcomeText h1{
 
      font-size: 40px;
      font-weight: 800;
      line-height: 42px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      
      }
    
}